.left {float:left}
.right {float:right}
.wrapper {width:100%;overflow:hidden}

body {
    background:#000;
    border:0;
    font:12px Arial, Helvetica, sans-serif;
    color:#72716f;
    line-height:20px;
    min-width:980px
}

.ic, .ic a {
    border:0;
    float:right;
    background:#fff;
    color:#f00;
    width:50%;
    line-height:10px;
    font-size:10px;
    margin:-220% 0 0 0;
    overflow:hidden;
    padding:0
}

.css3 {
    border-radius:8px;
    -moz-border-radius:8px;
    -webkit-border-radius:8px;
    box-shadow:0 0 4px rgba(0, 0, 0, .4);
    -moz-box-shadow:0 0 4px rgba(0, 0, 0, .4);
    -webkit-box-shadow:0 0 4px rgba(0, 0, 0, .4);
    position:relative
}
header {
    height:50px
}

.logo {
    display:block;
    background-image: url(./image/logo_transparent.png);
    width:240px;
    height:46px
}
.department {
    float:right;
    padding:37px 35px 0 0;
    color:#72716f;
    text-align:right
}

.department span {
    color:#fff
}

.media p {
    color:#fff;
    font-size:14px;
    line-height: 1.8em;
}
.media p a:hover {
    color:#fff;
}
.media {
    background:#000000;
    text-align: center;
    padding: 0.5em 0;
}

.media ul li {
	display:inline-block;
	margin:0 0.2em;
}
.media ul li a{
	width:30px;
	height:30px;
	background:url('../image/img-sprite.png');
	display:inline-block;
	position: relative;
}
.media ul li a span {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: -25px;
    right: -25px;
    padding: 5px;
    font-size: 14px;
    border-radius: 2px;
    background:#1F8DD6;
    visibility: hidden;
    opacity: 0;
    -o-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.media ul li a span:before {
    content: '';
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #1F8DD6;
    position: absolute;
    bottom: -5px;
    left: 34px;
}
.media ul li a:hover span {
    bottom: 41px;
    visibility: visible;
    opacity: 1;
}
.media ul li a.facebook {
	background-position:0px 0px;
}

.media ul li a.twitter {
	background-position:-30px 0px;
}

.media ul li a.flickr {
	background-position:-60px 0px;
}

.media ul li a.googleplus {
	background-position:-90px 0px;
}

.media ul li a.dribbble {
	background-position:-120px 0px;
}

.media {
    margin: 10px 0 10px;
}


#menu {
    background:#fff;
    padding:10px 2px;
    height:39px;
    margin-top: 70px;
    margin-bottom:10px
}

#menu > li {
    border-right:1px solid #f2f2f2;
    float:left
}

#menu .last {
    border:0
}
#menu > li > a {
    display:block;
    padding:0 62px;
    font-size:16px;
    color:#12110f;
    text-decoration:none;
    line-height:39px
}
#menu > li > a:hover, #menu > .active > a {
    color:#f3b21d
}

.box1 {
    background:#fff;
    height: 550px;
    padding:10px
}

#form2{
    width: 390px;
    float: right;
    padding: 10px;
    border: none;
}

#form2 .row{
    font-size: 30px;
}

#form3 .row{
    font-size: 30px;
}

#form3{
    width: 390px;
    float: right;
    padding: 10px;

}

#form1 {
    width:390px;
    float:right;
    padding:10px;
    background:#fff
}

#form1 .row {
    height:65px;
    font-size:18px;
    line-height:40px
}

fieldset{
    border: 2px solid #f3b21d;
}

legend{
    color:#f3b21d;
}



#map{
    width: 70%;
    float: left;
    height: 100%
}

.info{
    width: 28%;
    float: right;
}

.box2-left input[type="text"] {
    width: 80%;
    color: #fff;
    outline: none;
    font-size: 14px;
    padding: 10px 10px;
    border: 1px solid #464646;
    -webkit-appearance: none;
    margin-top: 10px;
}
.box2-left {
    text-align: center;
    float: left;
}
.box2 {
    padding: 5em 0;
    background-color: #fff;
    height: 350px;
}
.reg_table {
    margin-bottom: 2em;
}
a.regist {
    padding: 10px 32px!important;
    color: #fff;
    
    background-color: #f3b21d;
    border: 0;
    border-radius: 2px;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
}
a.regist:hover{
	background-color:#1f8dd6;
}
.box2-left textarea {
    width: 80%;
    margin: 22px 0;
    resize: none;
    height: 150px;
	 outline: none;
    padding: 10px 10px;
    border: 1px solid #464646;
    background: none;
    font-size: 14px;
    color: #000;
}
.box2-left input[type="submit"] {
    outline: none;
    float: right;
    background: #f3b21d;
    margin-top: 15px;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    color: #fff;
    font-weight: 600;
    padding: 6px 18px;
    font-size: 15px;
    border: none;
    border-radius: 2px;
}
.box2-left input[type="submit"]:hover{
    background: #1f8dd6;
}
.sub {
    text-align: right;
    margin-right: 3em;
}
select {
    padding: 4px 5px!important;
    width: 83.5%;
    color: #9E9E9E;
    margin-top: 15px;
    border: 1px solid #464646;
    padding: 5px 10px;
    vertical-align: middle;
}
.box2-right {
    padding-left: 100px;
}

.table1{
    text-align: center;
    width: 100%;
}
.table1 th{
    width: 75px;
    height: 30px;
    text-align: center;
}

.table2 td{
    width:90px;
    height:30px;
    text-align:center; 
}

.doubleclick p{
    text-decoration-line: underline;
    text-decoration-color: #f3b21d;
    font-style: italic;
}
.chart_div{
    width: 500px;
}