<!DOCTYPE html>
<html>
    <head>
        <title>Dublin Bikes</title>
        <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
        <!-- <script src="Try.js"></script> -->
    </head>
    <body id="page2">
        <div class = "main">
            <header>
                <a href="#logo">
                    <img src="../static/image/logo_transparent1.png" alt="" style="width:250px;height:100px;"></a>
                <div class="department">
                    353-2022888 UCD, Belfield, Dublin 4<br>
                    <span>Freephone: &nbsp; +353-2022888</span>
                </div>
            </header>
            <div class="box"><div class="ic">More Website Templates</div>
                <nav>
                    <ul id="menu">
                        <li class="active"><a href="/index">Home</a></li>
                        <li><a href="register.html">Register</a></li>
                    </ul>
                </nav>

                <article id ="content">
                    <div class="box2">
                        <div class="col-md-6 box2-left">
                            <div class="reg_table">
                                <a class = "regist" href="#">Register Online &amp; Start Now</a>
                            </div>
                            <p>Submit details!</p>
                            <form>
                                <input type="text" placeholder="Name">
                                <input type="text" placeholder="Phone">
                                <input type="text" placeholder="Email">
                                <select name="" id="" class="grayText">
                                    <option value="--Select Account type --">--Select Account type --</option>
                                    <option value="Adult">Adult</option>
                                    <option value="Student">Student</option>
                                </select>
                                <div class="sub">
                                    <input type="submit" value="Submit">
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6 box2-right">
                            <div class="video">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/BHf1t1MfHkI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            
                        </div>
                    </div>
                </article>
        <div class="main">
                    <footer>

                        <div class = "footer_menu">
                            <div class ="media">
                                <div class="coins">
                                    <ul>
                                        <li><a class="facebook" href="#"><span>FaceBook</span></span></a></li>
                                        <li><a class="twitter" href="#"><span>Twitter</span></span></a></li>
                                        <li><a class="flickr" href="#"><span>Flickr</span></span></a></li>
                                        <li><a class="googleplus" href="#"><span>Google+</span></span></a></li>
                                        <li><a class="dribbble" href="#"><span>Dribbble</span></span></a></li>
                                    </ul>
                                </div>
                                <p>DublinBike &copy; 2022.SE.Project / https://www.ucd.ie</p>
                            </div>
                        </div>

                    </footer>
                </div>
    </body>
</html>
